body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: rgb(0, 0, 0);
}

.header{
width: 100%;
height: 50px;
background-color: rgb(235, 142, 4);
display: flex;
justify-content: space-between;
}

.header ul{
	display: flex;
}

.header ul li{
	list-style: none;
	margin-left: 50px;
	color: white;
	transition: 0.6s;
	cursor: pointer;
}

.header ul li:hover{
	color: black;
}

.header .button button{
	margin-right: 100px;
	margin-top: 10%;
	width: 60px;
	height: 25px;
	background-color: rgb(255, 255, 255);
	border: none;
	border-radius: 10px;
	transition: 0.6s;
}


.header .button button:hover{
color: white;
background-color: black;
}





.currency-button-left,
.currency-button-right {
  font-size: 16px;
  width: 20%;
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 10px;
}

.currency-button-left:hover,
.currency-button-right:hover {
  background-color: #178ae9;
  color: rgb(15, 179, 201);
}



.conversion-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 90px;
}

.conversion-from,
.conversion-to {
	width: 40%;
	height: 200px;
	border: 1px solid #12f5c4;
	padding: 20px;
	border-radius: 10px;
	background-color: #ffffff;

	
}

.hide-spin-buttons::-webkit-inner-spin-button,
.hide-spin-buttons::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  position: relative;
  width: 1px;
  visibility: hidden;
}

.conversion-from h2 input,
.conversion-to h2 input {
	font-size: 45px;
	font-weight: bold;
	width: 90%;
	text-align: left;
	margin-left: 5px;
	border: none;
}

.conversion-from h2 input:focus {
	outline: none;
}


.currency-buttons-left {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
}

.currency-buttons-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 10px;
}

.conversion-from input,
.conversion-to input {
	display: block;
	padding-top: 40px;
	padding-left: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 90%;
	box-sizing: border-box;
	background-color: #ffffff;
}
#to-currency, #from-currency{
	display: none;
}
#exchange-rate-reverse{
	padding-left: 27px;
	color: rgb(0, 0, 0);
}
#exchange-rate{
	padding-left: 27px;
	color: rgb(0, 0, 0);
}
.heading{
	font-size: 70px;
	font-weight: bold;
	margin-left: 150px;
	margin-top: 100px;
	color: rgb(0, 0, 0);
}

.conversion-to h2 input:focus{
	outline: none;
}